<% provide(:title, "Sign up") %>
<div class="reg-title">
  <h2>Registeration form</h2></div>
<div class="container">
  <div class="row">
    <div class="col-md-offset-5">
      <div class="signup-img"><%= image_tag("background4.png", alt: "Background", size: "670x450") %></div>
    </div>
    <%= render 'shared/error_messages' %>
    <div class="col-md-4 col-md-offset-1">
        <%= form_for(@user, url: signup_path) do |f| %>

          <%= f.label :name%>
            <%= f.text_field :name, placeholder: "Enter your name", class: 'form-control' %>

            <%= f.label :email%>
            <%= f.email_field :email, placeholder: "Enter your email", class: 'form-control' %>

            <%= f.label :password%>
            <%= f.password_field :password, placeholder: "Enter password", class: 'form-control' %>

            <%= f.label :password_confirm, "Confirm Password"%>
            <%= f.password_field :password_confirm, placeholder: "Confirm password", class: 'form-control' %>

            <%= f.submit "Create account", class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>

</div>
